body{
    background-color: white;
}
nav{
    display: flex;
    position: absolute;
    left: 1120px;
    top:14px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type:none;
}
.upper_options{
    padding:6px;
}
a{
    text-decoration: none;
    color: rgb(34, 33, 33);
}
a:hover{
    text-decoration: underline;
}
.app
{
    width: 35px;
    position: relative;
    top:-2px;
    opacity: 0.4;
}   
.app:hover{
    opacity:1;
    cursor: pointer;
}
.sign_in_button{
    position: absolute;
    border-radius: 2px;
    padding: 6px;
    width: 70px;
    top:-2px;
    background-color: #4386f9;
    box-shadow: none;
    border-width: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.sign_in_button:hover{
    border-bottom-width: 0.6px;
    border-bottom-color: #508cf5;
}
section{
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 520px;    
}
.search-bar{
    width: 560px;
    border-radius: 50px;
    padding: 10px;
    border-width: 0.1px;
    border-style: solid;
    outline:none;
    font-size: 16px;
    padding-left: 42px;
}
.search{
    width: 20px;
    position: relative;
    top:4px;
    right:555px;
}
.button-below-search{
    padding-top:30px;    
}
.google-search, .lucky{
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background-color: #f2f2f2;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #f2f2f2;
    
}
.google-search:hover, .lucky:hover{
    border:1px solid #dddcdc;
    cursor: pointer;
    
}
footer{
    display: flex;              /* establish flex container */
    flex-direction: column;
    background-color:  #f2f2f2;
    padding: 5px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.country{
    padding: 12px;
    border-bottom: 1px solid #e4e4e4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.lower_options{
    padding:8px;
}
.bottom-navigation{
    display: flex;
    padding-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.bottom-navigation_right{
    position: relative;
    left:790px;
}